HTTP_PORT=8080
PUBLIC_BASE_URL=http://localhost:8080
SESSION_COOKIE_SECURE=0

DATABASE_BACKEND=mysql
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=REPLACE_WITH_ROOT_PASSWORD
MYSQL_DATABASE=expo_display
MYSQL_USER=expo_user
MYSQL_PASSWORD=REPLACE_WITH_DB_PASSWORD

ADMIN_USERNAME=admin
ADMIN_PASSWORD=REPLACE_WITH_STRONG_ADMIN_PASSWORD
CSRF_SECRET=REPLACE_WITH_RANDOM_CSRF_SECRET
PASSWORD_MIN_LENGTH=10
ALLOW_WEAK_USER_PASSWORDS=0
ASSET_STORAGE_BACKEND=local
